/* Main */

body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #111;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
}

h1,h2,h3 {
  line-height: 1.2
}

a {
  color: #a51c30;
  text-decoration: none;
}

a:hover,a:active {
  text-decoration: underline;
}

a.visitable:visited {
  color: #b85a68;
}

.avatar {
  height: 168px;
  width: 168px;
  border-radius: 50%;
}

/* Resume */

td {
  font-size: 16px;
}

.work-exp {
  margin-top: 64px;
}

.work-exp:nth-child(1) {
  margin-top: 0;
}

.work-exp--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.work-exp--header--org {
  display: flex;
  align-items: center;
  width: 300px;
}

.work-exp--header--org--logo {
  height: 36px;
  width: 36px;
  margin-right: 10px;
  border-radius: 5px;
}

.work-exp--header--org--name {
  font-size: 24px;
  font-weight: bold;
}

.work-exp--header--dates {
  font-size: 16px;
}

.work-exp--description {
  font-size: 16px;
  padding-inline-start: 18px;
}
