<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="{{ .Permalink }}">
	<title>{{ .Title }}</title>
	<meta name="description" content="{{ .Params.description | default .Site.Params.description }}">
	<link rel="stylesheet" href="/css/styles.css">
	{{ block "css" . }}{{ end }}
	<link rel="icon" href="/favicon.ico">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ block "main" . }}{{ end }}
</body>
</html>
