{{ define "css" }}
<link rel="stylesheet" href="/css/resume.css" />
{{ end }}

{{ define "main" }}
<main>
  <a href="/">Back to Home</a>
    <h1>Bob Chen's Resumé</h1>
    <hr />
    <table>
      <tr>
        <td>Email</td>
        <td><a href="mailto:hello@bobchen.io">hello@bobchen.io</a></td>
      </tr>
      <tr>
        <td>Twitter</td>
        <td><a href="https://twitter.com/bobchenio">@bobchenio</a></td>
      </tr>
      <tr>
        <td>LinkedIn</td>
        <td><a href="https://linkedin.com/in/bobchenio">/in/bobchenio</a></td>
      </tr>
      <tr>
        <td>GitHub</td>
        <td><a href="https://github.com/chenbobby">@chenbobby</a></td>
      </tr>
    </table>
    <hr />
    <h3>Education</h3>
    <div>
      <div class="work-exp">
        <div class="work-exp--header">
          <div class="work-exp--header--org">
            <img class="work-exp--header--org--logo"
              src="/images/harvard_logo.png"
              alt="Harvard Logo"
              />
            <span class="work-exp--header--org--name">
              <a href="https://www.harvard.edu/">
                Harvard University
              </a>
            </span>
          </div>
          <span class="work-exp--header--dates">
            August 2017 - Present
          </span>
        </div>
        <p class="work-exp--role">
          <b>Applied Mathematics and Computer Science</b>
        </p>
        <ul class="work-exp--description">
          <li>Expected Graduation in May 2022</li>
          <li>3.667 GPA</li>
        </ul>
      </div>
    </div>
    <hr />
    <h3>Languages</h3>
    <ul>
      <li>
        <b>English</b> - Native Proficiency
      </li>
      <li>
        <b>Mandarin Chinese</b> - Professional Working Proficiency
      </li>
    </ul>
    <hr />
    <h3>Work Experience</h3>
    <div>
      <div class="work-exp">
        <div class="work-exp--header">
          <div class="work-exp--header--org">
            <img class="work-exp--header--org--logo"
              src="/images/airbnb_logo.jpg"
              alt="Airbnb Logo"
              />
            <span class="work-exp--header--org--name">
              <a href="https://careers.airbnb.com">
                Airbnb, Inc.
              </a>
            </span>
          </div>
          <span class="work-exp--header--dates">
            May 2021 - Present
          </span>
        </div>
        <p class="work-exp--role">
          <b><em>Software Engineering Intern</em></b>, Compliance and Financial Crimes
        </p>
        <ul class="work-exp--description">
          <li>In progress...</li>
          <li>Used <a href="https://kotlinlang.org/">Kotlin</a>, <a href="https://www.typescriptlang.org/">TypeScript</a>, <a href="https://reactjs.org/">ReactJS</a>, and <a href="https://thrift.apache.org/">Apache Thrift</a>.</li>
        </ul>
      </div>
      <div class="work-exp">
        <div class="work-exp--header">
          <div class="work-exp--header--org">
            <img class="work-exp--header--org--logo"
              src="/images/elementl_logo.png"
              alt="Elementl Logo"
              />
            <span class="work-exp--header--org--name">
              <a href="https://elementl.com">
                Elementl, Inc.
              </a>
            </span>
          </div>
          <span class="work-exp--header--dates">
            7 months (September 2020 - March 2021)
          </span>
        </div>
        <p class="work-exp--role">
          <b><em>Software Engineering Fellow</em></b>, Dagster
        </p>
        <ul class="work-exp--description">
          <li>Worked with partner organization Rhodes & Shwarz to debug Apache Spark integration with Dagster.</li>
          <li>Worked on dagster-dbt integration library and blog post.</li>
          <li>Improve Dagster documentation.</li>
          <li>Setup development and production deployments on Google Cloud Platform.</li>
          <li>Created dagster new-repo CLI tool.</li>
          <li>Conduct user interviews with 15+ companies, including Apple, </li>
          <li>Presented user research findings to internal team.</li>
          <li>Used <a href="https://www.python.org/">Python</a>, SQL, <a href="https://www.getdbt.com/">dbt</a>, <a href="https://www.docker.com/">Docker</a>, <a href="https://kubernetes.io/">Kubernetes</a>, <a href="https://helm.sh/">Helm</a>, <a href="https://aws.amazon.com/">Amazon Web Services</a>, and <a href="https://cloud.google.com/">Google Cloud Platform</a>.</li>
        </ul>
      </div>
      <div class="work-exp">
        <div class="work-exp--header">
          <div class="work-exp--header--org">
            <img class="work-exp--header--org--logo"
              src="/images/intel_logo.jpg"
              alt="Intel Logo"
              />
            <span class="work-exp--header--org--name">
              <a href="https://www.intel.com/content/www/us/en/jobs/jobs-at-intel.html">
                Intel Corporation
              </a>
            </span>
          </div>
          <span class="work-exp--header--dates">
            3 months (June 2020 - August 2020)
          </span>
        </div>
        <p class="work-exp--role">
          <b><em>Technical Marketing Intern</em></b>, Hardware Plugins for Kubernetes
        </p>
        <ul class="work-exp--description">
          <li>Designed a marketing demo to <b>showcase 5x Redis performance improvement</b> (operations per second) when using <a href="https://www.intel.com/content/www/us/en/architecture-and-technology/optane-dc-persistent-memory.html">Intel Optane Persistent Memory</a> with Kubernetes.</li>
          <li><b>Drafted and edited documentation and technical copy</b> for Intel hardware plugins for Kubernetes.</li>
          <li><b>Managed Intel's conference booth</b> at <a href="https://events.linuxfoundation.org/archive/2020/kubecon-cloudnativecon-europe/">KubeCon Europe 2020</a>.</li>
          <li>Used <a href="https://redis.io/">Redis</a>, <a href="https://kubernetes.io/">Kubernetes</a>, HTML, CSS, and JavaScript.</li>
        </ul>
      </div>
      <div class="work-exp">
        <div class="work-exp--header">
          <div class="work-exp--header--org">
            <img class="work-exp--header--org--logo"
              src="/images/airbnb_logo.jpg"
              alt="Airbnb Logo"
              />
            <span class="work-exp--header--org--name">
              <a href="https://careers.airbnb.com">
                Airbnb, Inc.
              </a>
            </span>
          </div>
          <span class="work-exp--header--dates">
            3 months (May 2019 - August 2019)
          </span>
        </div>
        <p class="work-exp--role">
          <b><em>Software Engineering Intern</em></b>, Service Platform
        </p>
        <ul class="work-exp--description">
          <li>Joined the infrastructure team to <b>develop internal tools for enabling Service-Oriented Architecture</b>.</li>
          <li><b>Automated the generation of documentation for 10 services</b> and their RPC APIs.</li>
          <li><b>Designed and tested an anonymization service to hide PII</b> in RPC request/response payloads.</li>
          <li>Delivered an in-browser documentation and testing tool, using sample payloads from live traffic.</li>
          <li>Used <a href="https://www.java.com/en/">Java</a>, <a href="https://www.typescriptlang.org/">TypeScript</a>, <a href="https://reactjs.org/">ReactJS</a>, and <a href="https://thrift.apache.org/">Apache Thrift</a>.</li>
        </ul>
      </div>
      <div class="work-exp">
        <div class="work-exp--header">
          <div class="work-exp--header--org">
            <img class="work-exp--header--org--logo"
              src="/images/datacamp_logo.png"
              alt="DataCamp Logo"
              />
            <span class="work-exp--header--org--name">
              <a href="https://www.datacamp.com/jobs">
                DataCamp, Inc.
              </a>
            </span>
          </div>
          <span class="work-exp--header--dates">
            3 months (May 2018 - July 2018)
          </span>
        </div>
        <p class="work-exp--role">
          <b><em>Software Engineering Intern</em></b>, Full-Stack Web Development
        </p>
        <ul class="work-exp--description">
          <li>Revamped DataCamp's course search by replacing a naive SQL query with Algolia's Search API, resulting in higher relevancy, higher resistance to typoes, and <b>lower query times (from 6 seconds to 1 second)</b>.</li>
          <li>Decreased the main website's page load time by <b>reducing JavaScript bundle size by 15%</b>.</li>
          <li>Assisted with <b>GDPR compliance</b> by adding privacy controls for user accounts and data.</li>
          <li>Contributed to the bi-weekly Sprint cycle, consistently maintaining code quality with test-driven development, pair programming, and peer code reviews.</li>
          <li>Used <a href="https://rubyonrails.org/">Ruby on Rails</a>, <a href="https://www.algolia.com/doc/">Algolia API</a>, HTML, CSS, and JavaScript.</li>
        </ul>
      </div>
    </div>
    <hr />
    <h2>Leadership Experience</h2>
    <div>
      <div class="work-exp">
        <div class="work-exp--header">
          <div class="work-exp--header--org">
            <img class="work-exp--header--org--logo"
              src="/images/hpair_logo.png"
              alt="HPAIR Logo"
              />
            <span class="work-exp--header--org--name">
              <a href="https://hpair.org">
                HPAIR
              </a>
            </span>
          </div>
          <span class="work-exp--header--dates">
            3 years (September 2017 - August 2020)
          </span>
        </div>
        <p class="work-exp--role">
          <b>Director of Technology</b>
        </p>
        <ul class="work-exp--description">
          <li>Implemented Django REST API endpoints for the conference mobile app, used by <b>500+ delegates</b> during the 5 days of conference events.</li>
          <li>Developed a custom application portal, <b>used by 1000+ monthly applicants from 70+ countries</b>.</li>
          <li><b>Built an analytics dashboard</b> for applicant demographics and attendee engagement.</li>
          <li>Designed admin views for non-technical colleagues to independently control website content, allowing the Technology Team to focus on new projects and technical features.</li>
          <li>Used <a href="https://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, <a href="https://www.postgresql.org/">PostgreSQL</a>, <a href="https://www.docker.com/">Docker</a>, <a href="https://kubernetes.io/">Kubernetes</a>, and <a href="https://cloud.google.com/">Google Cloud Platform</a>.</li>
        </ul>
      </div>
    </div>
</main>
{{ end }}
